# This file contains common pin mappings for the BIGTREETECH SKR mini
# E3 v3.0. To use this config, the firmware should be compiled for the
# STM32G0B1 with a "8KiB bootloader" and USB communication.

# The "make flash" command does not work on the SKR mini E3. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR
# mini E3 with that SD card.

# See docs/Config_Reference.md for a description of parameters.

[include mainsail.cfg]
[include macros.cfg]

[stepper_x]
step_pin: PB13
dir_pin: !PB12
enable_pin: !PB14
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC0
position_endstop: -30.5
position_min: -30.5
position_max: 238
homing_speed: 50

[tmc2209 stepper_x]
uart_pin: PC11
tx_pin: PC10
uart_address: 0
run_current: 0.580
stealthchop_threshold: 999999

[stepper_y]
step_pin: PB10
dir_pin: PB2
enable_pin: !PB11
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC1
position_endstop: -10
position_min: -10
position_max: 235
homing_speed: 50

[tmc2209 stepper_y]
uart_pin: PC11
tx_pin: PC10
uart_address: 2
run_current: 0.580
stealthchop_threshold: 999999

[stepper_z]
step_pin: PB0
dir_pin: !PC5
enable_pin: !PB1
microsteps: 16
rotation_distance: 40
gear_ratio: 80:20
#full_steps_per_rotation: 200 
#endstop_pin: ^PC2
#position_endstop: 0.0
endstop_pin: probe:z_virtual_endstop
position_min: -10
position_max: 175

[tmc2209 stepper_z]
uart_pin: PC11
tx_pin: PC10
uart_address: 1
run_current: 0.580
stealthchop_threshold: 999999

[extruder]
step_pin: PB3
dir_pin: !PB4
enable_pin: !PD1
microsteps: 16
rotation_distance: 3.4334
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PC8
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA0
#control: pid
#pid_Kp: 21.527
#pid_Ki: 1.063
#pid_Kd: 108.982
min_temp: 0
max_temp: 250
max_extrude_only_distance: 1000.0
max_extrude_cross_section: 5

[tmc2209 extruder]
uart_pin: PC11
tx_pin: PC10
uart_address: 3
run_current: 0.650

[heater_bed]
heater_pin: PC9
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
#control: pid
#pid_Kp: 54.027
#pid_Ki: 0.770
#pid_Kd: 948.182
min_temp: 0
max_temp: 130

[heater_fan Hotend_Cooling_Fan]
pin: PC7

[controller_fan Case_Fan]
pin: PB15
stepper: stepper_x,stepper_y,stepper_z, extruder

[fan]
pin: PC6

[temperature_sensor SKR_mini_3_V3]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[temperature_fan BTT_Pi_Fan]
pin: host:gpio211
max_power: 1.0
sensor_type: temperature_host
control: watermark
target_temp: 50.0
min_temp: 0
max_temp: 85

[temperature_sensor BTT_Pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

[probe]
#sensor_pin: ^PC2
#control_pin: PA1
## Offset for Hero Me 6
x_offset: -40
y_offset: 0.0
#z_offset: 8 # Uncomment if starting fresh; Distance should be enough to keep the z-offset positive.
speed: 5.0
samples: 2
samples_result: median
sample_retract_dist: 6.0
samples_tolerance: 0.01
samples_tolerance_retries: 3
#stow_on_each_sample: false
#probe_with_touch_mode: true
 
# Bed Leveling: https://www.klipper3d.org/Bed_Level.html#determining-thermal-expansion
[bed_mesh]
speed: 120
horizontal_move_z: 5
mesh_min: 30,20
mesh_max: 195,200 # Make sure X,Y here meets these conditions (X+(bltouch+x_offset) < bed X) and (Y+(bltouch+y_offset) < Bed Y) full length measured X=239.5 and Y=224.5
probe_count: 5,5
mesh_pps: 2,2
algorithm: bicubic
fade_start: 1
fade_end: 10
fade_target: 0

[safe_z_home]
home_xy_position: 147.5,110 # Change coordinates to the center of your print bed
speed: 100
z_hop: 10                 # Move up 10mm
z_hop_speed: 5

[mcu host]
serial: /tmp/klipper_host_mcu

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_05003C0014504B5735313920-if00

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000
max_z_velocity: 5
max_z_accel: 100

[exclude_object] 

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PB5,  EXP1_3=PA9,   EXP1_5=PA10, EXP1_7=PB8, EXP1_9=<GND>,
    EXP1_2=PA15, EXP1_4=<RST>, EXP1_6=PB9,  EXP1_8=PD6, EXP1_10=<5V>

######################################################################
# 128x64 Full Graphic Creality CR10 / ENDER 3 stockdisplay
######################################################################

# This section is used for a Creality "12864" display with a single
# ribbon cable between the display's EXP3 plug and the
# micro-controller board's EXP1 connector.

[display]
lcd_type: st7920
cs_pin: EXP1_7
sclk_pin: EXP1_6
sid_pin: EXP1_8
encoder_pins: ^EXP1_5, ^EXP1_3
click_pin: ^!EXP1_2

[output_pin beeper]
pin: EXP1_1

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 12.472
#*# pid_ki = 0.349
#*# pid_kd = 111.313
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 73.349
#*# pid_ki = 1.505
#*# pid_kd = 893.942
#*#
#*# [bltouch]
#*# z_offset = 2.397
